@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
    padding: 0;
    margin: 0;
}

header{
    height: 900px;
    display: flex;
    justify-content: center;
}


#container{
    height: 50%;
    width: 70%;
}

#home-img{
    float: right;
    border-radius: 50px 0px;
}

#explore-description{
    margin-top: 200px ;
    margin-left: 70px;
    margin-right: 20px

}
h1{
    font-family: "Source Serif 4", serif;
    font-size: 50px;
    font-weight: 600;
    color: #FF834F;
}

#img1{
    height: 470px;
    position: absolute;
    right: 5%;
    top: 8%;
}

#explore{
    height: 60px;
    width: 140px;
    margin-top: 30px;
    margin-left: 7px;
    background-color: rgb(44, 44, 44);
    border: none;
    color: white;
    font-size: 15px;
}

