main{
    display: flex;
    justify-content: center;
}

#intro-container{
    height: 500px;
    width: 1000px;
    border-radius: 50px 0px;
}

#auntie-img{
    height: 450px;
    float: left;
}

p#into-speech{
    margin-left: 450px;
    margin-top: 200px;
    color: black;
}
 p{
    margin-left: 550px;
 }

