caption{
    font-size: 20px;
}

#table-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}


table.styled-table {
    width: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
}

.styled-table thead tr {
    background-color: #a5a5a5;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 20px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

#return-to-home{
    height: 50px;
    width: 130px;
    background-color: black;
    color: white;
    border: none;
}