/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

#img-container{
  position: absolute;
  height: 700px;
  width: 500px;
  
}

footer{
  margin: 200px 0px 0px 0px;

}

.footer{
  margin: 0;
  padding: 0;
  text-align: center;
}

