nav{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

h4{
    padding-left: 10px;
    font-size: 23px;
    color: rgb(37, 37, 37);
    position: absolute;
   
}

#user-details{
    position: absolute;
    right: 20px;
    top: 15px;
    height: 45px;
    width: 95px;
    background-color: rgb(37, 37, 37);
    color: white;
    border: none;
    
}

#create-users{
    position: absolute;
    right: 150px;
    top: 15px;
    height: 45px;
    width: 95px;
    background-color: rgb(37, 37, 37);
    color: white;
    border: none;
}